@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&display=swap');

$tableHeadColor: #FAFAFA;
$borderColor: #DADCE0;
$fontMain: #414141;
$fontSub: #787878;
$fontHint: #8C8C8C;

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumSquareRegular';
    background-color: #fff;
}

h3 {
    padding: 10px;
    color: $fontMain;
}

// 제목

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 8rem;
    background: linear-gradient(180deg, #fff 0%, #eee 100%);
}

// 내용

.wrap {
    width: 1200px;
    margin: auto;
    margin-top: 70px;
    padding: 5px;
}

.container {
    border: 1px solid $borderColor;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(#4B4848, 0.1);
    margin-bottom: 15px;
}

.section {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #F0F0F0;
}

.content {
    width: 100%;
    display: flex;
}

.head {
    font-family: 'NanumSquareLight';
    min-width: 160px;
    font-size: 18px;
    padding: 1.2em;
    background-color: $tableHeadColor;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.inner {
    width: 100%;
    display: flex;
    padding: 0.8em;
}

.field {
    width: 100%;
    padding: 0.4em;
    display: flex;
	align-items: center;
	min-width: 250px;
    font-size: 17px;
    .item_name {
        color: $fontHint;
        font-size: 14px;
        min-width: 80px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .hint {
        min-width: 40px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13px;
    }
    .text_edit {
        width: 100%;
        border: 1px solid $borderColor;
        height: 35px;
    }
}


