$border-bottom-input: 1px dashed rgba(65, 65, 255, 0.25);
$border-bottom-input-focus: 1px solid rgba(65, 65, 255, 0.75);
$border-bottom-transition: border-bottom 0.5s ease;


.radio-group {
    margin: auto;
    display: flex;

    @media (max-width: 48em) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
}

.radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.radio-label {
    position: relative;
    display: inline-block;
    margin: 10px;

    @media (max-width: 48em) {
        display: block;
        margin: 10px 0;
    }

    input {
        opacity: 0;
        position: absolute;
    }

    .inner-label {
        position: relative;
        display: inline-block;
        padding-left: 40px;
        font-size: 14px;
        min-width: 70px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: $border-bottom-input;
            width: 30px;
            transition: $border-bottom-transition;
        }
    }

    input:focus ~ .inner-label {
        &:before {
            border-bottom: $border-bottom-input-focus;
        }
    }

    input:checked ~ .inner-label {
        &:after {
            content: '\2713';
            color: rgb(65,65,255);
            position: absolute;
            font-size: 12px;
            left: 12px;
            top: 1px;
        }
    }
}