
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <style>

p { font-size: 16px; margin: 0px; }

div {
    margin-left: auto;
    margin-right: auto;
    width: 890px;
    margin-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 900px;
}

tr {
    max-height: 32px;
    height: 32px;
}

td {
    border: solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(65, 65, 65);
    font-size: 15px;
}

.tb_1 .main_name{
    font-size: 15px;
    background-color: rgb(222, 234, 246);
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.tb_1 .sub_name{
    font-size: 13px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    width: 95px;
}

.tb_1 .main_row {
    padding-top: 3px;
    padding-left: 5px;
}

  </style>
</head>

<H1 style="text-align: center; padding: 20px;">부동산 전세 임대차계약서</H1>
<H3 style="text-align: center;">임대인과 임차인 쌍방은 아래 표시 부동산에 관하여 다음 계약내용과 같이 임대차계약을 체결한다.</H3>

<div id="content">
<!-- 1. 부동산의 표시-->
<table class="tb_1" style="border: 1px solid;">
    <tbody>
      <tr>
        <td class="main_name">소 재 지</td>
        <td colspan="6">{{ address }}</td>
      </tr>

      <tr>
        <td class="main_name">토 　 지</td>
        <td class="sub_name">지 　 목</td>
        <td colspan="3">{{ land.category }}</td>
        <td class="sub_name">면 　 적</td>
        <td style="text-align: right;">{{ land.area }}<span style="margin-left: 8px;">㎡</span></td>
      </tr>

      <tr>
        <td class="main_name">건 　 물</td>
        <td class="sub_name">구 　 조</td>
        <td>{{ bld.structure }}</td>
        <td class="sub_name">용 　 도</td>
        <td>{{ bld.purpose }}</td>
        <td class="sub_name">면 　 적</td>
        <td style="text-align: right;">{{ bld.area }}<span style="margin-left: 8px;">㎡</span></td>
      </tr>

      <tr>
        <td class="main_name">임대할부분</td>
        <td colspan="4">{{ rent.part }}</td>
        <td class="sub_name">면 　 적</td>
        <td style="text-align: right;">{{ rent.area }}<span style="margin-left: 8px;">㎡</span></td>
      </tr>

    </tbody>
</table>

<!-- 2. 계약 내용 -->

<table class="tb_1">
    <tbody>
      <tr>
        <td class="main_name">보 증 금</td>
        <td colspan="3"><span style="">금</span><span style="padding-left: 5px;"></span>{{ pay.sum }}</td>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td class="main_name">계 약 금</td>
        <td colspan="3"><span style="">금</span><span style="padding-left: 5px;"></span>{{ pay.down }}</td>
        <td colspan="3">은 계약시에 지불하고 영수함 ※ 영수자</td>
      </tr>

      {% if day.middle %}
      <tr>
        <td class="main_name">중 도 금</td>
        <td colspan="3"><span style="">금</span><span style="padding-left: 5px;"></span>{{ pay.middle }}</td>
        <td colspan="3">은 {{ day.middle }}에 지불한다.</td>
      </tr>
      {% endif %}

      <tr>
        <td class="main_name">잔 　 금</td>
        <td colspan="3"><span style="">금</span><span style="padding-left: 5px;"></span>{{ pay.balance }}</td>
        <td colspan="3">은 {{ day.balance }}에 지불한다.</td>
      </tr>

      {% if day.middle %}
      <tr>
        <td class="main_name">차 　 임</td>
        <td colspan="3"><span style="">금</span><span style="padding-left: 5px;"></span>{{ pay.rent }}</td>
        <td colspan="3">은 매월 {{ day.rent }} ({{ day.rent_pp }})</td>
      </tr>
      {% endif %}

    </tbody>
</table>

<!-- 계약 조항 테이블 -->
<table class="tb_1">
    <tbody>
      {% for row in clause %}
      <tr>
        <td class="sub_name" style="width: 70px;"><b>{{ row.num }}</b></td>
        <td style="font-size: 13px; padding: 5px;"><b>{{ row.title }} </b>{{ row.content }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<!-- 3. 특약사항 -->
<div>
    <p style="margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid; text-align: center;"><b>특약 사항</b></p>
    {{ agrs|safe }}
</div>

<table class="tb_1">
    <tbody>

      <!-- 계약자 -->
      {% for c in contractor %}
      <tr>
        <td class="main_name" rowspan='2'>{{ c.kind }}</td>
        <td class="sub_name" style="font-size: 12px;">주　소</td>
        <td colspan="5">{{ c.address }}</td>
        <td rowspan='2' style="text-align: center; width: 90px;">(인)</td>
      </tr>

      <tr>
        <td class="sub_name" style="font-size: 12px;">주민등록번호</td>
        <td>{{ c.rr_num }}</td>
        <td class="sub_name" style="font-size: 12px;">연 락 처</td>
        <td>{{ c.mobile }}</td>
        <td class="sub_name" style="font-size: 12px;">성 　 명</td>
        <td style="padding: 0px; text-align: center;">{{ c.name }}</td>
      </tr>
      {% endfor %}

      <!-- 중개사 -->

      <!-- 계약자 -->
      {% for a in agent %}
      <tr>
        <td class="main_name" rowspan='3'>{{ a.kind }}</td>
        <td class="sub_name">사무소소재지</td>
        <td colspan="6">{{ a.address }}</td>
      </tr>

      <tr>
        <td class="sub_name">사무소 명칭</td>
        <td colspan="3">{{ a.bs_nm }}</td>
        <td class="sub_name">대표자명</td>
        <td class="sub_name" style="font-size: 11px; width: 75px;">서명 및 날인</td>
        <td style="text-align: center; width: 90px;">(인)</td>
      </tr>

      <tr>
        <td class="sub_name">전화번호</td>
        <td>{{ a.gen }}</td>
        <td class="sub_name">등록번호</td>
        <td>{{ a.rr_num }}</td>
        <td class="sub_name" style="padding-left: 2px; padding-right: 2px;">소속공인중개사</td>
        <td class="sub_name" style="font-size: 11px; width: 75px;">서명 및 날인</td>
        <td style="text-align: center; width: 90px;">(인)</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
