<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Insert title here</title>
</head>

<table class="tb_1" style="undefined;table-layout: fixed; width: 1000px">
<tbody>
  <tr>
    <td class="title" colspan="7"><span style="font-weight:bold">1. 부동산의 표시</span><br>
        임대인과 임차인 쌍방은 아래 표시 부동산에 관하여 다음 계약내용과 같이 임대차계약을 체결한다.</td>
  </tr>
  <tr>
    <td class="main_name">소재지</td>
    <td colspan="6"></td>
  </tr>
  <tr>
    <td class="main_name">토　지</td>
    <td class="sub_name">지　목</td>
    <td colspan="3">{{ data }}</td>
    <td class="sub_name">면　적</td>
    <td style="text-align: right; padding-right: 5px">
        <span style="padding-right: 5px">50</span>
        <span>㎡</span>
    </td>
  </tr>

  <!--  -->
  {% if kindCd == '01' %}
  <tr>
    <td class="main_name">건　물</td>
    <td class="sub_name">구　조</td>
    <td></td>
    <td class="sub_name">용　도</td>
    <td></td>
    <td class="sub_name">면　적</td>
    <td style="text-align: right; padding-right: 5px">
        <span style="padding-right: 5px">50</span>
        <span>㎡</span>
    </td>
  </tr>
  {% endif %}

  <!-- 0: 매매, 1: 전세, 2: 월세  -->
  {% if typeCd == '2' or typeCd == '3' %}
  <tr>
    <td class="main_name">임대할부분</td>
    <td colspan="4"></td>
    <td class="sub_name">면　적</td>
    <td style="text-align: right; padding-right: 5px">
        <span style="padding-right: 5px">50</span>
        <span>㎡</span>
    </td>
  </tr>
  {% endif %}

  <tr>
    <td class="title" colspan="7"><span style="font-weight:bold">2. 계약 내용</span><br>
        제 1조(목적) 위 부동산의 임대차에 한하여 임대인과 임차인은 합의에 의하여 임차보증금 및 차임을 아래와 같이 지불하기로 한다.</td>
  </tr>
  <tr>
    <td class="main_name">보증금</td>
    <td colspan="3">
        <span style="padding-left: 5px; padding-right: 5px;">금</span>
        <span style="text-align: right">원</span>
      </td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="main_name">계약금</td>
    <td colspan="3"><p style="padding-left: 5px; padding-right: 5px;">금</p></td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="main_name">중도금</td>
    <td colspan="3"><p style="padding-left: 5px; padding-right: 5px;">금</p></td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="main_name">잔금</td>
    <td colspan="3"><p style="padding-left: 5px; padding-right: 5px;">금</p></td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="main_name">차임</td>
    <td colspan="3"><p style="padding-left: 5px; padding-right: 5px;">금</p></td>
    <td colspan="3"></td>
  </tr>
</tbody>
</table>