.tb_1 {
    border-collapse: collapse;
    border: solid 1px;
}

.tb_1 td {
    border-bottom: solid 1px;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

.tb_1 .title{
    background-color: rgb(156, 194, 229);
    border-collapse: collapse;
    border-top: solid 1px;
    border-bottom: solid 2px;
    padding: 5px;
    text-align: left;
}

.tb_1 .main_name{
    background-color: rgb(222, 234, 246);
    border-right: solid 1px;
    padding: 5px 0px 5px;
    font-weight: bold;
    text-align: center;
}

.tb_1 .sub_name{
    background-color: rgb(242, 242, 242);
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 5px 0px 5px;
    text-align: center;
}