<!DOCTYPE html>
<html>
{% load sass_tags %}
    <head>
        <meta charset="UTF-8">
        <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <header>
            <div class="logo"><a href="/">NavBar</a></div>

            <nav>
                <ul>
                    <li><a href="contract/">계약서작성</a></li>
                    <li><a href="#">매물관리</a></li>
                    <li><a href="#">고객관리</a></li>
                    <li><a href="#">공동망</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>