<!DOCTYPE html>
<html lang="en">
{% load sass_tags %}
    <head>
        <meta charset="UTF-8">
        <link href="{% sass_src 'scss/contract.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/select_item.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/radio_item.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/item_check_box.scss' %}" rel="stylesheet" type="text/css" />
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="/static/js/contract/selectEvent.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="header"></div>
        <div class="wrap">
            <!--계약서 선택-->
            <div class="container">
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>계약 종류</h5></header>
                        </div>
                        <div class="inner">
                            <div class="field">
                                <p class="item_name">계약서</p>
                                <div class="selectbox">
                                    <label for="opt_type">계약서 선택</label>
                                    <select id="opt_type">
                                        <option selected>계약서 선택</option>
                                        {% for t in prop.type %}
                                            <option>{{ t }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <p class="item_name">매물 종류</p>
                                <div class="selectbox">
                                    <label for="opt_kind">매물 선택</label>
                                    <select id="opt_kind" disabled>
                                        <option selected>매물 선택</option>
                                        {% for k in prop.kind %}
                                            <option>{{ k }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <p class="item_name">거래 종류</p>
                                <div class='radio-group'>
                                    <label class='radio-label'>
                                        <input name='snacks' type='radio' id='pizza'>
                                        <span class='inner-label'>매매</span>
                                    </label>
                                    <label class='radio-label'>
                                        <input name='snacks' type='radio' id='nachos'>
                                        <span class='inner-label'>전세</span>
                                    </label>
                                    <label class='radio-label'>
                                        <input name='snacks' type='radio' id='burgers'>
                                        <span class='inner-label'>월세</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--소재지-->
            <div class="container" style="width: 1000px;">
                <!--소재지-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>소재지</h5></header>
                        </div>
                        <div class="inner" style="display: block">
                            <div class="field">
                                <p class="item_name">주소</p>
                                <input type="text" class="text_edit" style="width: 100%;">
                            </div>
                            <div style="display: flex">
                                <div class="field">
                                    <p class="item_name">동명칭</p>
                                    <input type="text" class="text_edit" style="width: 100%;">
                                </div>
                                <div class="field">
                                    <p class="item_name">호명칭</p>
                                    <input type="text" class="text_edit" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!--임대할 부분-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>임대할 부분</h5></header>
                        </div>
                        <div class="inner">
                            <div class="field">
                                <p class="item_name">상세주소</p>
                                <input type="text" class="text_edit">
                            </div>
                            <div class="field">
                                <p class="item_name">임대 면적</p>
                                <input type="text" class="text_edit">
                                <p class="hint">㎡</p>
                            </div>
                        </div>
                    </section>
                </div>

                <!--대지권 비율-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>대지권 비율</h5></header>
                       </div>
                        <div class="inner">
                            <div class="field">
                                <input type="text" class="text_edit">
                                <p class="hint">분의</p>
                                <input type="text" class="text_edit">
                            </div>
                            <div class="field">
                                <p class="item_name">대지권 종류</p>
                                <div class="selectbox" style="width: 100%">
                                    <label for="opt_land_type">종류 선택</label>
                                    <select id="opt_land_type">
                                        <option selected>종류 선택</option>
                                        {% for t in prop.type %}
                                        <option>{{ t }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!--토지-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>토 지</h5></header>
                       </div>
                        <div class="inner">
                            <div class="field">
                                <div class="selectbox" style="width: 70%; margin-right: 10px;">
                                    <label for="opt_land">지목</label>
                                    <select id="opt_land">
                                        <option selected>지목</option>
                                        <option>대표지목</option>
                                    </select>
                                </div>
                                <div class="selectbox" style="width: 100%">
                                    <label for="opt_land_detail">토지 지목</label>
                                    <select id="opt_land_detail">
                                        <option selected>매물 선택</option>
                                        {% for l in prop.land %}
                                        <option>{{ l }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <p class="item_name">대지 면적</p>
                                <input type="text" class="text_edit">
                                <p class="hint">㎡</p>
                            </div>
                        </div>
                    </section>
                </div>

                <!--건물-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>건 물</h5></header>
                       </div>
                        <div class="inner" style="display: block">
                            <div style="display: flex">
                                <div class="field">
                                    <p class="item_name">구조</p>
                                    <div class="selectbox" style="width: 100%;">
                                        <label for="opt_structure">선택</label>
                                        <select id="opt_structure">
                                            <option selected>선택</option>
                                            <option>대표지목</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <p class="item_name">연면적</p>
                                    <input type="text" class="text_edit" style="width: 100%;">
                                    <p class="hint">㎡</p>
                                </div>
                            </div>
                            <div class="field" style="width: 306px;">
                                <p class="item_name">용도</p>
                                <div class="selectbox">
                                    <label for="opt_purposes">용도</label>
                                    <select id="opt_purposes">
                                        <option selected>용도</option>
                                        <option>대표지목</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--소재지-->
            <div class="container" style="width: 1000px;">
                <!--소재지-->
                <div class="content">
                    <section class="section">
                        <div class="head" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                            <header><h5>보증금</h5></header>
                        </div>
                        <div class="inner">
                            <div class="field">
                                <p class="item_name">보증금</p>
                                <input type="text" class="text_edit" id="txt_deposit">
                            </div>
                            <div class="field">
                                <p class="item_name" id="hint_deposit"></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>